$white: #ffffff;
$white-gradient: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fff 100%);

$card-border: #ffffff33;
$section-border: #ffffff33;
$props-border: #ffffff1a;

$page-background: #000000;
