@import './variables.scss';

@mixin grid-align {
  display: grid;
  justify-content: center;
  column-gap: 20px;

  grid-template-columns: repeat(12, 1fr);
}

@mixin content-padding-inline {
  width: $container-max-width;
  padding-inline: 0;
  margin-inline: auto;

  @media (max-width: $container-max-width) {
    padding-inline: 32px;
  }
}

